<!-- <h1> Angular </h1>
<app-course></app-course>
<app-exercise1 [is-favorite]= "post.isFavorite" (change)='onFavoriteChange($event)'></app-exercise1>
<app-title-case></app-title-case> -->
<!-- <app-like-twitter></app-like-twitter> -->
<!-- <courses></courses>
<input type='text' [appInputFormat]="'uppercase'"> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <app-udemy-signup-form></app-udemy-signup-form> -->
<!-- <app-signup-form></app-signup-form> -->
<!-- <new-course-form></new-course-form> -->
<!-- <password-change></password-change> -->
<!-- <app-posts></app-posts> -->
<!-- <github-followers></github-followers> -->
<navbar></navbar>
<router-outlet></router-outlet>